@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-sans: 'Karla', sans-serif;
  --color-bright-green: #377352;
  --color-dark-green: #22473c;
  --color-ash-white: #ebeef1;
  --color-white: #e9ecef;
  --color-hover-green: #416153;
  --color-green-text: #203432;
  --color-green-highlight: #e1f9e6;
}

.font-Karla {
  font-family: var(--font-sans);
}

.p-card {
  transition:
    border-color 200ms ease,
    box-shadow 200ms ease;
}
.p-card:hover {
  border-color: #0e662e;
}